@{
    ViewBag.ModuleTitle = "Reports";
    ViewBag.PageTitle = "Reports";
}

<div class="m-content">

    <!--Begin::Section-->

    <div class="row">
        <div class="col-xl-8">

            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light">
                                Summaries
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget28">
                        <div class="m-widget28__pic m-portlet-fit--sides"></div>
                        <div class="m-widget28__container">

                            <!-- begin::Nav pills -->
                            <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#menu11"><span><i class="fa flaticon-pie-chart"></i></span><span>National Shortlist</span></a>
                                </li>
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#menu21"><span><i class="fa flaticon-file-1"></i></span><span>Regional Councils</span></a>
                                </li>
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#menu31"><span><i class="fa flaticon-clipboard"></i></span><span>Regional ITREBs</span></a>
                                </li>
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#menu41"><span><i class="fa flaticon-clipboard"></i></span><span>Regional CABs</span></a>
                                </li>
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#menu51"><span><i class="fa flaticon-clipboard"></i></span><span>Local Councils</span></a>
                                </li>
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#menu61"><span><i class="fa flaticon-clipboard"></i></span><span>Local ITREBs</span></a>
                                </li>
                            </ul>

                            <!-- end::Nav pills -->
                            <!-- begin::Tab Content -->
                            <div class="m-widget28__tab tab-content">
                                <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D330-1234562546</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 1,250.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Creating Back-end Components</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu21" class="m-widget28__tab-container tab-pane fade">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Back-End Web Architecture</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 2,170.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D110-1234562546</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu31" class="m-widget28__tab-container tab-pane fade">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 3,450.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Creating Back-end Components</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D510-7431562548</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu41" class="m-widget28__tab-container tab-pane fade">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 3,450.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Creating Back-end Components</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D510-7431562548</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu61" class="m-widget28__tab-container tab-pane fade">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 3,450.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Creating Back-end Components</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D510-7431562548</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu51" class="m-widget28__tab-container tab-pane fade">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 3,450.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Creating Back-end Components</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D510-7431562548</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light">
                                Detailed
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget28">
                        <div class="m-widget28__pic m-portlet-fit--sides"></div>
                        <div class="m-widget28__container">

                            <!-- begin::Nav pills -->
                            <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#menu11"><span><i class="fa flaticon-pie-chart"></i></span><span>Three plus One</span></a>
                                </li>
                                <li class="m-widget28__nav-item nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#menu11"><span><i class="fa flaticon-pie-chart"></i></span><span>Any Other</span></a>
                                </li>
                            </ul>

                            <!-- end::Nav pills -->
                            <!-- begin::Tab Content -->
                            <div class="m-widget28__tab tab-content">
                                <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D330-1234562546</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 1,250.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Creating Back-end Components</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu21" class="m-widget28__tab-container tab-pane fade">
                                    <div class="m-widget28__tab-items">
                                        <div class="m-widget28__tab-item">
                                            <span>Project Description</span>
                                            <span>Back-End Web Architecture</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Total Charges</span>
                                            <span>USD 2,170.000</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>INE Number</span>
                                            <span>D110-1234562546</span>
                                        </div>
                                        <div class="m-widget28__tab-item">
                                            <span>Company Name</span>
                                            <span>SLT Back-end Solutions</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Blog-->
        </div>
    </div>

    <!--End::Section-->
</div>

@section scripts{

    @{ @(await Html.PartialAsync(PartialNames.ValidationScripts)) }
    @{ @(await Html.PartialAsync(PartialNames.DateTimePickerScripts)) }

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#menu-26").addClass("m-menu__item--open m-menu__item--expanded");
        });
    </script>
}