@{
    ViewBag.ModuleTitle = "Home";
    ViewBag.PageTitle = "Dashboard";
}

@section styles{
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/demo/demo6/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="assets/demo/demo6/media/img/logo/favicon.ico" />
}

<div class="m-content">

    <!--Begin::Section-->
    <div class="m-portlet">

        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-3">
                    <div class="m-portlet__body">
                        <div class="m-widget15">
                            <div class="m-widget14__header">
                                <h4 class="m-widget14__title">
                                    Nominations complete
                                </h4>
                                <span class="m-widget14__desc">
                                    Showing completion percentage
                                </span>
                            </div>
                            <div class="m-widget15__items" style="margin-top:20px!important">
                                <div class="row">
                                    <div class="col">
                                        <div class="m-widget15__item">
                                            <span class="m-widget15__stats">
                                                54%
                                            </span>
                                            <span class="m-widget15__text">
                                                National
                                            </span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="m-widget15__item">
                                            <span class="m-widget15__stats">
                                                54%
                                            </span>
                                            <span class="m-widget15__text">
                                                Regional
                                            </span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="m-widget15__item">
                                            <span class="m-widget15__stats">
                                                54%
                                            </span>
                                            <span class="m-widget15__text">
                                                Local
                                            </span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <!--begin:: Widgets/Stats2-1 -->
                    <div class="m-widget1">
                        <div class="m-widget14__header">
                            <h4 class="m-widget14__title">
                                Institutions Remaining
                            </h4>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h5 class="m-widget1__title">National level</h5>
                                    <span class="m-widget1__desc">Instituion remaining</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">10</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h5 class="m-widget1__title">Regional level</h5>
                                    <span class="m-widget1__desc">Institutions remaining</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-danger">5</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h5 class="m-widget1__title">Local level</h5>
                                    <span class="m-widget1__desc">Institutions remaining</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Stats2-1 -->
                </div>
                <div class="col-xl-5">
                    <!--begin:: Widgets/Audit Log-->
                    <div class="m-portlet--full-height ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Pending Institutions
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                                            National
                                        </a>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                                            Regional
                                        </a>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab3_content" role="tab">
                                            Local
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="m_widget4_tab1_content">
                                    <div class="m-scrollable m-scroller ps ps--active-y" data-scrollable="true" data-height="200" style="height: 200px; overflow: hidden;">
                                        <div class="m-list-timeline m-list-timeline--skin-light">
                                            <div class="m-list-timeline__items">
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                    <span class="m-list-timeline__text">
                                                        <span style="color:darkorange">CAB</span> - Conciliation and Arbitration Board for Pakistan
                                                    </span>
                                                    <span class="m-list-timeline__time"><a href="#">3 postions</a></span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                    <span class="m-list-timeline__text">
                                                        <span style="color:darkorange">
                                                            AKEPB
                                                        </span> - Aga Khan Economic Planning Board for Pakistan
                                                    </span>
                                                    <span class="m-list-timeline__time"><a href="#">2 postions</a></span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                    <span class="m-list-timeline__text">
                                                        <span style="color:darkorange">ITREB</span> - Ismaili Tariqah and Religious Education Board for Pakistan
                                                    </span>
                                                    <span class="m-list-timeline__time"><a href="#">3 postions</a></span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                    <span class="m-list-timeline__text">
                                                        <span style="color:darkorange">AKHS</span> - Aga Khan Health Service, Pakistan
                                                    </span>
                                                    <span class="m-list-timeline__time"><a href="#">7 postions</a></span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                    <span class="m-list-timeline__text">
                                                        <span style="color:darkorange">AKES</span> - Aga Khan Education Service, Pakistan
                                                    </span>
                                                    <span class="m-list-timeline__time"><a href="#">1 postions</a></span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                    <span class="m-list-timeline__text"><span style="color:darkorange">AKSWB</span> - Aga Khan Social Welfare Board for Pakistan</span>
                                                    <span class="m-list-timeline__time"><a href="#">2 postions</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ps__rail-x" style="left: 0px; bottom: -252px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 252px; height: 400px; right: 4px;"><div class="ps__thumb-y" tabindex="0" style="top: 155px; height: 245px;"></div></div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="m_widget4_tab2_content">
                                </div>
                                <div class="tab-pane" id="m_widget4_tab3_content">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Audit Log-->
                </div>
            </div>
        </div>
    </div>

    <!--End::Section-->
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">

            <!--begin:: Widgets/Best Sellers-->
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Positions - CAB
                            </h3>
                            <a href="#" style="margin-left:20px">> Navigate to detail Page</a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin::Content-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">

                            <!--begin::m-widget5-->
                            <div class="m-widget5">

                                <div class="m-widget5__item">
                                    <div class="m-widget5__content">
                                        <div class="m-widget5__pic">
                                            <img class="m-widget7__img" src="assets/app/media/img//products/product6.jpg" alt="">
                                        </div>
                                        <div class="m-widget5__section">
                                            <h4 class="m-widget5__title">
                                                Chairman
                                            </h4>
                                            <span class="m-widget5__info">
                                                Incubment - Aitmadi Abdul Aziz Rafiq GHULAM HUSSAIN
                                            </span>
                                            <div class="m-widget5__info">
                                                <h6 class="m-widget5__title">
                                                    <span class="m-widget5__author" style="color:forestgreen">
                                                        Recomendation : Empty
                                                    </span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget5__content">
                                        <div class="m-widget5__stats1">
                                            <span class="m-widget5__number">2</span><br>
                                            <span class="m-widget5__sales">Nominated</span>
                                        </div>
                                        <div class="m-widget5__stats2">
                                            <span class="m-widget5__number">1</span><br>
                                            <span class="m-widget5__votes">Remaining</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget5__item">
                                    <div class="m-widget5__content">
                                        <div class="m-widget5__pic">
                                            <img class="m-widget7__img" src="assets/app/media/img//products/product10.jpg" alt="">
                                        </div>
                                        <div class="m-widget5__section">
                                            <h4 class="m-widget5__title">
                                                Member
                                            </h4>
                                            <span class="m-widget5__info">
                                                Incubment - Aitmadi Abdul Aziz Rafiq GHULAM HUSSAIN
                                            </span>
                                            <div class="m-widget5__info">
                                                <h6 class="m-widget5__title">
                                                    <span class="m-widget5__author" style="color:forestgreen">
                                                        Recomendation : Empty
                                                    </span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget5__content">
                                        <div class="m-widget5__stats1">
                                            <span class="m-widget5__number">2</span><br>
                                            <span class="m-widget5__sales">Nominated</span>
                                        </div>
                                        <div class="m-widget5__stats2">
                                            <span class="m-widget5__number">1</span><br>
                                            <span class="m-widget5__votes">Remaining</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget5__item">
                                    <div class="m-widget5__content">
                                        <div class="m-widget5__pic">
                                            <img class="m-widget7__img" src="assets/app/media/img//products/product11.jpg" alt="">
                                        </div>
                                        <div class="m-widget5__section">
                                            <h4 class="m-widget5__title">
                                                Member
                                            </h4>
                                            <span class="m-widget5__info">
                                                Incubment - Alijah Saheba Yasmin Muhammed Firdous Nayani
                                            </span>
                                            <div class="m-widget5__info">
                                                <h6 class="m-widget5__title">
                                                    <span class="m-widget5__author" style="color:forestgreen">
                                                        Recomendation : Huzur Mukhiani Yasmeen Abdul Sultan Khemani
                                                    </span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget5__content">
                                        <div class="m-widget5__stats1">
                                            <span class="m-widget5__number">2</span><br>
                                            <span class="m-widget5__sales">Nominated</span>
                                        </div>
                                        <div class="m-widget5__stats2">
                                            <span class="m-widget5__number">1</span><br>
                                            <span class="m-widget5__votes">Remaining</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end::m-widget5-->
                        </div>
                    </div>

                    <!--end::Content-->
                </div>
            </div>

            <!--end:: Widgets/Best Sellers-->
        </div>
    </div>

    <!--End::Section-->
</div>

@section scripts{
    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/demo6/base/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="~/assets/app/js/dashboard.js" type="text/javascript"></script>
}
